
<!--	——————————————————————————————————————————————————
		Evaluation # show
		——————————————————————————————————————————————————
-->
<!-- find a way to do this for all views in this controller, rather than one -->
<%= content_for :head do %>
	<script type="text/javascript">
		jQuery(document).ready(function(){
			$("li.profile").addClass("active")
		});
	</script>
	
<% end %>

<%= content_for :sidebar do %>
	<ul class="nav nav-list bs-docs-sidenav affix">
		<li class="active"><a href="#topic1"><i class="icon-chevron-right"></i>Topic 1</a></li>
		<li><a href="#topic2"><i class="icon-chevron-right"></i>Topic 2</a></li>
		<li><a href="#topic3"><i class="icon-chevron-right"></i>Topic 3</a></li>
	</ul>
<% end %>

<%= content_for :main do %>
	<section id="standin">
		<p>[  This is just a stub for the Evaluation page of the site — views/evaluation/show.html.erb  ]</p>
	</section>
	<section id="topic1">
		<h2>Topic 1 </h2>
		<p>[ Info for topic 1 goes here ]</p>
	</section>
	<section id="topic2">
		<h2>Topic 2</h2>
		<p>[ Info for topic 2 goes here ]</p>
	</section>
	<section id="topic3">
		<h2>Topic 3</h2>
		<p>[ Info for topic 3 goes here ]</p>
	</section>
<% end %>