<div style="padding:10px 20px 20px 20px;">
	<style>
		.dc { color:black; font-weight:bold;}
	</style>
	<p><span class="dc">Wired-Differently</span> [ ...]</p>
	<p>Request Information <%= mail_to("info@WiredDifferently-Kids.com","Now",:subject => "information Request") %>, or <%= link_to("Browse","http://WiredDifferently-Kids.com") %> </p>

</div>