<div style="padding:10px 20px 20px 20px;">
	<style>
		.dc { color:black; font-weight:bold;}
	</style>
	<p><span class="dc">Wired-Differently!/span> ... [does what ] 
	<p>Request Information <%= mail_to("info@wireddifferently-kids.com","Now",:subject => "information Request") %>, or <%= link_to("Browse","http://wireddifferently-kids.com") %> </p>

</div>