<div style="padding:10px 20px 20px 20px;">

	<p>This site is developed and maintained by Blue Spot Wellness, Inc. a Delaware corporation.</p>
	<h4>Privacy Policy</h4>
	<p>Our Privacy Policy is very simple: Any information you supply on you and/or your children will be used only to supply you with the lab tests, nutraceutical program recommendations, and consultations with clinicians that you request.</p>
	<p>Those recommendations, and any outcome data you chose to share with us, remains your personal information. Neither will be shared with any company, agency or research institute without your express permission.<p>  
	<p>The information is not available to insurance companies, the FDA, Medicare/Medicade, or even your own Doctor, Nutritionist, Dietician, etc. without your express permission.</p>
	<p>All of your information is stored in encrypted with the same SH1 encryption used by banks for financial data.</p>
	<h4>Research Use</h4>
	<p>We do share aggregate and anonymized information with research groups working on the brain and the effect of nutraceutical programs on brain wellness. It is our hope that the broad base of outcome data we are building up will be of help in improving the medical world's understanding of brain function and what impedes it.</p>		
	<h4>Non-US Residents</h4>
	<p>Blue Spot Wellness complies with the US-EU Safe Harbor Framework and the US-Swiss Safe Harbor Framework as set forth by the US Department of Commerce regarding the collection, use, and retention of personal information from European Union member countries and Switzerland. Blue Spot Wellness certifies that it adheres to the Safe Harbor Privacy Principles of notice, choice, onward transfer, security, data integrity, access, and enforcement.</p> 

	<h4>Questions?</h4>
	<p>If you have questions about this Privacy Policy, please contact us via e-mail at info@bluespotwellness.com with “Privacy Policy” in the subject line or at the contact information on our Contact-Us page.</p>
	
</div>