  <%= content_for :head do %>
	<style>
		div.slide1 h1 { color:black; }
		div.slide1 p.lead { color:red!important; }
		div.jumbo_overlay { 
			position:absolute; top:100px;
			/* margin-top: -740px; */
			margin-left:20px;
			display:none;
			}
		div.jumbo_image { display:none;}
		div.blerbs { padding-top:20px;}
	</style>
	<script type="text/javascript">
		jQuery(document).ready(function(){

			$(".more").hide();
			$("#more_btn_wired_differently").click(function(){
				$("#more_wired_differently").toggle('slow');	
			});
			$("#more_btn_ridlin").click(function(){
				$("#more_ridlin").toggle('slow');
			});
			$("#more_btn_balance").click(function(){
				$("#more_balance").toggle('slow');
			});
			
			$("div.jumbo_image").fadeIn(2000, function(){
				$("div.jumbo_overlay").fadeIn('slow');
			});
			

		});
	</script>
  <% end %>

  <%= content_for :main do %>

    <!-- Hero Image ——————————————————————————————————————————————————————— -->	
	<div class="jumbotron">
		<div class="jumbo_image"><%= image_tag("slide-1.jpg") %></div>
	   	<div class="container">		
	  		<div class="row">
	      		<div class="col col-lg-12 col-sm-12 jumbo_overlay">		
					<h1>Is Your Child Wired Differently?</h1>
			        <p class="lead">Do they experience Focus Challenges? Are they 'on the Spectrum'?  Maximize their potential.</br>Wired Differently-Kids is committed to optimizing your child’s health and brain balance.</p>
					<!-- ><a class="btn btn-large btn-primary" href="#">Sign up today</a> -->
					<%= link_to "Sign up today" , :new_patient, { :class => 'btn btn-large btn-primary'} %>
	  				
	      		</div>
	      	</div><!-- end div.row -->
	    </div><!-- end div.container -->
	 </div> <!-- end div jumbotron -->
	
	
    <!-- Flash Msgs  ———————————————————————————————————————— -->
    

    <!-- Marketing messaging ———————————————————————————————————————— --> 

    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row blerbs">
	
        <div class="span4">
         
          	<h2>Wired Differently</h2>
          	<p>The old idea that we are all wired differently is actually true when it comes to brain chemistry.
			<p>Proper brain chemistry is needed for our body to respond properly to stressors, stimuli and even for good digestion.   When your neurotransmitters, such as serotonin, dopamine, norepinephrine, epinephrine, GABA and glutamate are properly balanced, scientific research reveals that it can have a positive effect on every aspect of your life and relationships, from sleep cycles to how we respond to loud noises, speech, from self-esteem to feeling connected and more.</p>
			<p>Genetics, stress, nutrition, early childhood experiences, traumas, neglect, and abuse all play a part in our neurotransmitter makeup.</p>
          	<p><a class="btn btn-link more_btn" id="more_btn_wired_differently">More &raquo;</a></p>
			<div id="more_wired_differently" class="more">
				<p>Neurotransmitters fall into two categories, inhibitory (serotonin and GABA for calming and well-being) and excitatory (epinephrine, norepinephrine, dopamine for drive and motivation).</p>
				<p>Ideally, they should be balanced.</p>
				<p>However, due to many of the reasons mentioned above, the neurotransmitters of many children (and adults) are not.  When the excitatory side is too high, issues like disrupted sleep, hyperactivity, impulsivity, stress intolerance and meltdowns tend to occur.</p> 
				<p>It is difficult to correct these tendencies with behavior modification alone. Even with the best intentions, a child will have difficulty changing behaviors with an imbalanced brain; it may be beyond his capacity.</p>

			</div>

        </div><!-- /.span4 -->

		<div class="span4">
          	<h2>RITALIN Overuse</h2>
          	<p class="stand-in">Did you know that you cannot get fresh neurotransmitters from a synthetic medication?  The only way to make neurotransmitters or your brain chemicals is through the proteins in your diet.  We can also make them with amino acid supplementation.</p>
			<p class="stand-in">Stimulant medications actually deplete the calming brain chemicals over time.  This is why many children have to have an additional medication added to their regimen over time.  </p>
          	<!--
			<p><a class="btn btn-link more_btn" id="more_btn_ridlin">More &raquo;</a></p>
			<div id="more_ridlin" class="more">
				<p>n.</p>		
			</div>
			-->
        </div><!-- /.span4 -->

        <div class="span4">        
          	<h2>The Big Picture</h2>
          	<p>We are a piece of the puzzle in solving behavioral and emotional issues and complement many therapeutic approaches.  As you can imagine, without a healthy brain, it is difficult to complete all of the additional therapies that we ask for our wired differently kids!</p>  
			<p>Our gut is our second brain.  Without a healthy GI tract, it is difficult to have a healthy brain.  Up to 95% of our serotonin (calming neurotransmitter) is manufactured and stored in the gut.  There are so many factors that affect brain chemistry.  </p>
			<p>Through our state of the art testing modalities and pharmaceutical grade supplementation, Wired Differently Kids can make a difference in your child’s life.  Our goal is to help children and their families function to the best of their ability and create a platform for the future happiness and success in life.</p>

			<p><a class="btn btn-link more_btn" id="more_btn_balance">More &raquo;</a></p>
			<div id="more_balance" class="more">
				<p>Through our state of the art testing modalities and pharmaceutical grade supplementation, Wired Differently Kids can make a difference in your child’s life.  Our goal is to help children and their families function to the best of their ability and create a platform for the future happiness and success in life.</p>
			</div>
        </div><!-- /.span4 -->

        
      </div><!-- /.row -->


      <!-- FOOTER  currently in the layout file for the home page 
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Blue Spot Wellness, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
	  -->
    </div><!-- /.container -->
<% end %>

