<h1>Social#friends</h1>
<p>Find me in app/views/social/friends.html.erb</p>

<!--	——————————————————————————————————————————————————
		Social [Networking] # parents
		——————————————————————————————————————————————————
-->
<!-- find a way to do this for all views in this controller, rather than one -->
<%= content_for :head do %>
	<script type="text/javascript">
		jQuery(document).ready(function(){
			$("li.other").addClass("active");
			$("li.friends").addClass("active")
		});
	</script>
<% end %>

<%= content_for :sidebar do %>

<% end %>

<%= content_for :main do %>
	<section id="standin">
		<p>[ Stand-in for the 'Tell Your Friends' page of the site. ]</p>
	</section>

<% end %>